@import '~antd/dist/antd.css';





.App {
  text-align: center;
  position: absolute;
  width:100%;
  height: 100%;
  background: #fff !important;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/*. STYLE  .*/

.page{
  margin-top:40px;
  width:100%;
}

.nav{
  position:fixed;
  top:0;
  left:0;
  height: 40px;
  width:100%;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 10;
  z-index: 2;
  box-shadow: 0px 0px 5px #ccc;
}
.logo{
  float:left;
  font-size: 13px;
  height: 40px;
}
.logo img{
  margin-bottom: 5px;
}
.username{
  float:right;
  font-size: 13px;
  height: 40px;
}
.menu{
  position:absolute;
  padding-top: 40px;
  width:250px;
  float:left;
  height: 100%;
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;

}

.container{
  position: absolute;
  top:40px;
  left:0px;
  width:100%;
  height: 95%;
  background: #fff;
  overflow-x: hidden;
}


/*. Individual Styles.*/
.map{
  position: relative;
  left: 270px;
  width:80%;
  /*height: 100%;*/
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 300px;
  line-height: 50px;
  overflow: hidden;
}

.slick-dots li{
  /*border:1px solid #333;*/
  background: #fff;
}
.slick-active button{
  background: #00a652 !important;
}


.homebottom{
  float: left;
  text-align: left;
  padding-top: 20px;
  width: 100%;
}



.list{
  width: 100%;
}

.table-operations {
  margin-bottom: 16px;
  text-align: left;
}

.table-operations > button {
  margin-right: 5px;
}


